a {
  text-decoration: none;
  color: #F15152;
}

a:hover {
  color: #f4d8cd;
}

body {
  background-color: #1e555c;
  padding: 30px;
}

footer {
  color: gray;
  margin-top: 50px;
  text-align: center;
}

.App-header {
  color: #f4d8cd;
  font-family: 'Architects Daughter', cursive;
  font-size: 48px;
  margin: 30px 30px 30px 50px;
}

.App-logo {
  max-width: 200px;
  display: inline;
  margin-right: 10px;
}

.Question {
  display: inline;
  padding: 100px 0 0 50px;
  font-size: 54px;
}
